body{
    font-family: "Roboto", sans-serif;
    background-color: #1f2937;
    margin:0;
}

.header{
    display:flex;
    justify-content: space-around;
    align-items:center;
    color: #f9faf8;
    font-size: 24px;
    font-weight:bold;
    flex: 0 0 auto;
}

.header ul{
    display: flex;
    list-style: none;
    gap: 30px;
    color: #d1d1eb;
    font-size:18px;
    font-weight: normal;
}

.hero{
    display: flex;
    justify-content: center;
    color: #f9faf8;
    flex:1;
    flex-wrap: wrap;
    margin: 80px 100px;
    gap: 20px;
    font-size: 18px;
}

.hero .main{
    font-weight: bold;
    font-size: 48px;
}

.hero .text{
    max-width: 520px;
}

.text .secondary{
    color:#D1D1EBb9;
    padding: 20px 0px;
}

.hero .image{
    max-width: 520px;
}

.image img{ 
    width:520px;
    height:300px;
}

button{
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    border-radius: 10px;
    border-style: none;
    padding: 8px 40px;
    cursor: pointer;
    display:flex;
    flex: 0 0 auto;
}

.information{
    background-color: #f9faf8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #1f2937;
}

.information .header{
    color:#1f2937;
    font-weight: bold;
    padding: 40px;
    font-size: 36px;
}

.block{
    display: flex;
    align-items:center;
    justify-content:center;
    padding: 0px 40px 100px 40px;  
    gap: 40px;  
}

.block img{
    max-width: 220px;
    max-height: 150px;
    border-radius: 20px;
}
.block .detail{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 220px;
    text-align:center;
    gap:12px;
    color:#1f2937;
    font-size: 18px;
}

.quote{
    background-color: #e5e7eb;
    justify-content:center;
    align-items: center;
    font-size: 36px;
    font-style: italic;
    font-weight:100;
    color:#1f2937;
    padding: 100px 320px;
}

.quote .author{
    padding: 3px;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    text-align: end;
}